.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  width: 100vw;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

#headerTitle {
  font-size: 50px;
}

.canvasImages {
  display: flex;
  justify-self: center;
  width: 1200px;
  height: 800px;
  padding-top: 20px;
  margin: 15px;
}


